/* Animation slide-up */
.slide-up {
  animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}

/* Classe partagée */
.input-field {
  width: 100%;
  padding: 0.75rem;
  border: 1.5px solid #ccc;
  border-radius: 0.75rem;
}
